




label {float: left; width: auto; text-align: right;}
body{background-color: lightgray;}
	input, textarea {text-align: left;}
	input.submit  {margin-left: auto;}
	label, input.submit {font: normal Verdana, Geneva, Arial, Helvetica, sans-serif;}